<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
				
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
    <p><%= notice %></p>
    <p><%= alert %></p>
	
	<%= render 'form'%>

<script>
	if (navigator.geolocation) {
 		navigator.geolocation.getCurrentPosition(getAddress);
	} else {
 		x.innerHTML = "Geolocation is not supported by this browser.";
 	}
 	function getAddress(position) {
 		var latitude = position.coords.latitude;
 		var longitude = position.coords.longitude;
 		$.ajax({
 		url: '<%= find_address_campings_path %>',
 		type: 'GET',
 		dataType: 'json',
 		data: {latitude: latitude, longitude: longitude}
 		});
 	};
</script>