<h1>Mis Campings</h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
		<% @campings.each do |camping| %>
		<tr>
			<td><%= camping.name %> </td>
			<td><%= camping.description %> </td>
			<td><%= link_to 'Ver', camping_path(camping) %></td>
		</tr>
	<% end %>
	

</table>
