<br>
<br>
<br>
<%= render 'shared/menu' %>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
	<h1>detalle camping</h1>

	<table>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
		</tr>
			<tr>
				<td><%= @camping.name %> </td>
				<td><%= @camping.description %> </td>
				<td><%= @camping.camping_type %> </td>
			</tr>
		

	</table>

</main>

