
<%= render 'shared/menu' %>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
	<h1>detalle plan</h1>

	<table>
		<tr>
			<th>Tipo Persona</th>
			<th>Precio</th>
		</tr>
			<tr>
				<td><%= @plan.person_type %> </td>
				<td><%= @plan.price %> </td>
			</tr>
		

	</table>

</main>