
<%= render 'shared/menu' %>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
	<h1>detalle sitio</h1>

	<table>
		<tr>
			<th>Identificador</th>
			<th>Descripcion</th>
		</tr>
			<tr>
				<td><%= @campsite.identifier %> </td>
				<td><%= @campsite.description %> </td>
			</tr>
		

	</table>

</main>

