<h1>detalle sitio</h1>

<table>
	<tr>
		<th>Identificador</th>
		<th>Descripcion</th>
	</tr>
		<tr>
			<td><%= @campsite.identifier %> </td>
			<td><%= @campsite.description %> </td>
		</tr>
	

</table>

<%= render 'shared/menu' %>

<script>
	$('#test').BootSideMenu();
	$('#demo').BootSideMenu({

	  // 'left' or 'right'
	  side: "left",

	  // animation speed
	  duration: 500,

	  // restore last menu status on page refresh
	  remember: true,

	  // auto close
	  autoClose: false,

	  // push the whole page
	  pushBody: true,

	  // close on click
	  closeOnClick: true,

	  // width
	  width: "15%",

	  // icons
	  icons: {
	    left: 'glyphicon glyphicon-chevron-left',
	    right: 'glyphicon glyphicon-chevron-right',
	    down: 'glyphicon glyphicon-chevron-down'
	  },

	  // 'dracula', 'darkblue', 'zenburn', 'pinklady', 'somebook'
	  theme: '',
	  
	});
</script>